.banner { grid-area: banner; }
nav { grid-area: global-nav; }
main { grid-area: main; }
.contact { grid-area: contact; }
.about-studio { grid-area: about-studio; }
.about-michael { grid-area: about-michael; }
.home-graphic { grid-area: home-graphic; }

.case-study-background { grid-area: case-study-background; }
.case-study-my-role { grid-area: case-study-my-role; }
.case-study-image { grid-area: case-study-image; }
.case-study-content { grid-area: case-study-content; }

footer { grid-area: footer; }

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
	  "banner"
	  "global-nav"
	  "main"
	  "footer";
	margin: 0;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	  "contact"
	  "about-studio"
	  "about-michael";
}

@media screen and (min-width: 43.75rem) {
  .container {
	  grid-template-columns: 1fr 1.25fr;
	  grid-template-areas:
		"banner global-nav"
		"main main"
		"footer footer";
	  margin: 0 auto;
	}

	.home-page { max-width: 64rem; }

	.home-words {
	  display: grid;
	  grid-gap: 20px;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-template-areas: 
	    "contact about-studio about-michael"
	    ". home-graphic home-graphic";
  }

  .home-words p { padding-right: 1em; }

  .about-words {
  	display: grid;
  	grid-gap: 4rem;
  	grid-template-columns: 1fr 1fr;
  	grid-template-areas: "about-studio about-michael";
  }

  .project-background {
  	display: grid;
  	grid-gap: 3rem;
  	grid-template-columns: 1.25fr 1fr;
  	grid-template-areas:
  	  "case-study-background case-study-my-role"
  	;
  	margin: 0 auto;
  	max-width: 64rem;
  }

  .case-study-challenge {
  	margin: 2rem auto;
  	max-width: 64rem;
  	padding: 3rem 20%;
  }

  .ss-words {
  	display: grid;
  	grid-gap: 3rem;
  	grid-template-columns: 1.5fr 1fr;
  	grid-template-areas:
  		"case-study-image case-study-content"
  	;
  	margin: 0 auto;
  	max-width: 64rem;
  }
}