.banner-wrapper { grid-area: banner-wrapper; }
.banner { grid-area: banner; }
nav { grid-area: global-nav; }
main { grid-area: main; }

.contact { grid-area: contact; }
.about-studio { grid-area: about-studio; }
.about-michael { grid-area: about-michael; }
.home-graphic { grid-area: home-graphic; }

.services-img1 { grid-area: services-img1; }
.services-text1 { grid-area: services-text1; }
.services-img2 { grid-area: services-img2; }
.services-text2 { grid-area: services-text2; }
.services-img3 { grid-area: services-img3; }
.services-text3 { grid-area: services-text3; }


footer { grid-area: footer; }

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
	  "banner-wrapper"
	  "main"
	  "footer";
	margin: 0;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	  "contact"
	  "about-studio"
	  "about-michael"
	  "plays-well";
}

@media screen and (min-width: 43.75rem) { /* 700px */
  .wrapper {
	  grid-template-columns: 1fr 1.25fr;
	  grid-template-areas:
		"banner-wrapper banner-wrapper"
		"main main"
		"footer footer";
	}

	.banner-wrapper {
		display: grid;
		grid-template-columns: 1fr 1.25fr;
		grid-template-areas:
		"banner global-nav"
		;
	}

	.max-content-width {
		margin: 0 auto;
	  max-width: 64rem;
	}

	.home-words {
	  display: grid;
	  grid-gap: 20px;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-template-areas: 
	    "contact about-studio about-michael"
	    ". home-graphic home-graphic";
  }

  .home-words p { padding-right: 1em; }

  .about-words {
  	display: grid;
  	grid-gap: 4rem;
  	grid-template-columns: 1fr 1fr;
  	grid-template-areas: "about-studio about-michael";
  }

  .project-background {
  	display: grid;
  	grid-gap: 7rem;
  	grid-template-columns: 1.25fr 1fr;
  }

  .case-study-challenge {
  	margin: 5rem 10%;
  	max-width: 64rem;
  	padding-bottom: 4rem;
  }

  .two-column-content {
  	display: grid;
  	grid-gap: 3rem;
  	grid-template-columns: repeat(2, 2fr);
  	;
  }

  .services-two-column {
  	display: grid;
  	grid-gap: 3rem;
  	grid-template-columns: repeat(2, 2fr);
  	grid-template-areas: 
  	  "services-img1 services-text1"
  	  "services-text2 services-img2"
  	  "services-img3 services-text3";
  }
}

@media screen and (min-width: 56.25rem) { /* 900px */
	.case-study-challenge {
  	margin: 5rem 20%;
  }
}