.banner { grid-area: banner; }
nav { grid-area: global-nav; }
main { grid-area: main; }
.contact { grid-area: contact; }
.about-studio { grid-area: about-studio; }
.about-michael { grid-area: about-michael; }
.home-graphic { grid-area: home-graphic; }

.ss-background { grid-area: ss-background; }
.ss-challenge { grid-area: ss-challenge; }
.ss-solution { grid-area: ss-solution; }
.ss-dashboard { grid-area: ss-dashboard; }
.ss-screen { grid-area: ss-screen; }
.ss-wireframe { grid-area: ss-wireframe; }

footer { grid-area: footer; }

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
	  "banner"
	  "global-nav"
	  "main"
	  "footer";
	margin: 0;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	  "contact"
	  "about-studio"
	  "about-michael";
}

@media screen and (min-width: 43.75rem) {
  .container {
	  /* grid-template-columns: 1.25fr 1fr; */
	  grid-template-columns: 1fr 1.25fr;
	  grid-template-areas:
		"banner global-nav"
		"main main"
		"footer footer";
	  margin: 0 auto;
	  max-width: 64rem;
	}

	.home-words {
	  display: grid;
	  grid-gap: 20px;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-template-areas: 
	    "contact about-studio about-michael"
	    ". home-graphic home-graphic";
  }

  .home-words p { padding-right: 1em; }

  .about-words {
  	display: grid;
  	grid-gap: 4rem;
  	grid-template-columns: 1fr 1fr;
  	grid-template-areas: "about-studio about-michael";
  }

  .ss-words {
  	display: grid;
  	grid-gap: 1rem;
  	grid-template-columns: 1.25fr 1fr 1fr;
  	grid-template-areas:
  		"ss-background ss-background ss-background"
  		"ss-challenge ss-challenge ss-wireframe"
  		"ss-solution ss-solution ss-dashboard"
  	;
  }

  .border-right { border-right: 1px solid #ddd; }
}