@media screen and (min-width: 300px) {
	body {
	  background-color: #fff;
	  color: #333;
	  font-family: fira-sans-1, fira-sans-2, sans-serif;
	  font-style: normal;
	  line-height: 1.45;
  }

  .skip a {
		position:absolute;
		left:-10000px;
		top:auto;
		width:1px;
		height:1px;
		overflow:hidden;
  }
 
	.skip a:focus {
		position:static;
		width:auto;
		height:auto;
	} 

  a { color: #1c7ab5; }

	h1, h2, h3, .logo-words {
		  margin: 1.75rem 0 0;
      font-weight: 300;
		  line-height: 1.15;
	}

	h4, h5 {
		  margin: 2.75rem 0 1rem;
      font-weight: 400;
		  line-height: 1.15;
	}

	h1 { font-size: 2.441em; }

  h2 { font-size: 1.953em; }

  h3 { font-size: 1.563em; }

  h4,
  .home-headers { font-size: 1.25em; }

  .home-headers { margin-top: 1.5rem; }

  .banner,
  main,
  footer { padding: 1rem; }

  .skull-icon {
  	height: 32px;
  	margin: -.05rem .5rem 0 0;
  	width: 32px;

  }

  .logo {
  	margin-right: 0.25em;
  	width: 1.5em;
  }

  .logo-words {
  	font-size: 1.75rem;
		margin: 2.75rem 0 1rem;
	}

	.logo-words a:link { text-decoration: none; }

  p { margin-bottom: 1.25em; }

	
  /* Global Navigation */
	nav ul {
	  list-style: none;
	  padding-left: 0;
	  text-align: center;
	}

	nav a {
    display: block;
    padding: .5rem 0;
		text-decoration: none;
	}

	nav a:link,
	nav a:visited {
    background-color: #1c7ab5; /* 4.66:1 ratio */
		color: #ffffff; }

	nav a:hover {
		background-color: #0166a3;
		color: #ffffff;
		text-decoration: none;
	}

	.image {
		display: block;
		height: auto;
		max-width: 100%;
	}
}

@media screen and (min-width: 700px) {
	small,
  .text-small { font-size: 0.8em; }

  .logo-words {
  	font-size: 1.75rem;
  	margin: .5rem 0;
  }
  
  /* Global Navigation */
	nav li {
		display: inline-block;
		padding-right: 1.5rem;
		text-align: left;
	}
	
	nav a:link,
	nav a:visited {
		background-color: #fff;
		border-bottom: 2px solid #1c7ab5;
		color: #000000;
	}

	nav a:hover {
		border-bottom: 5px solid #0166a3;
		padding-bottom: .25rem;
	}

	h1 {
	margin-top: 0;
	font-size: 3.052em;
	}

	h2 { font-size: 2.441em;}

	h3 { font-size: 1.953em; }

	h4 { font-size: 1.563em; }

	h5 { font-size: 1.25em; }

	.title-background {
		height: 15rem;
	}

	.centered-title {
		align-items: center;
		background-color: rgba(0,0,0,0.5);
		display: flex;
		height: 100%;
		justify-content: center;
		width: 100%;
	}

	.centered-title h1 {
		color: #fff;
	}

	.ss {
		background-image: url(../images/scholarsphere_dashboard_large.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position-x: center;
		background-position-y: 25%; 
	}
}

@media screen and (min-width: 900px) {
	.logo { width: 2em; }
	.logo-words {
		font-size: 2rem;
		margin: 0;
	}
}
