@media screen and (min-width: 18.75rem) {
	body {
	  background-color: #fff;
	  color: #333;
	  font-family: fira-sans-1, fira-sans-2, sans-serif;
	  font-style: normal;
	  line-height: 1.45;
  }

  .skip a {
  	height: 1px;
  	left: -10000px;
  	overflow: hidden;
		position: absolute;
		top: auto;
		width: 1px;
  }
 
	.skip a:focus {
		height: auto;
		position: static;
		width: auto;
	}

	.border-right { border-right: 1px solid #ddd; }

  a { color: #1c7ab5; }

	h1 {
		color: #1c7ab5;
		font-size: 2.441rem;
		font-weight: 300;
		line-height: 1.15;
		margin: 1.75rem 0 0;
	}

  h2 {
  	color: #1c7ab5;
  	font-size: 1.953rem;
  	font-weight: 300;
		line-height: 1.15;
		margin: 1.75rem 0 0;
  }

  h3 {
  	color: #1c7ab5;
  	font-size: 1.563rem;
  	font-weight: 300;
		line-height: 1.15;
		margin: 1.75rem 0 0;
  }

	h4 {
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.15;
		margin: 2.75rem 0 1rem;
	}

	h5 {
		font-weight: 400;
		line-height: 1.15;
		margin: 2.75rem 0 1rem;
	}

  .home-headers {
  	font-size: 1.25rem;
  	margin-top: 1.5rem;
  }

  .header-borders {
		border-bottom: 2px solid #ccc;
		padding-top: .5rem;
		padding-bottom: .5rem;
	}

  .banner,
  main,
  footer { padding: 1rem; }

  .skull-icon {
  	height: 32px;
  	margin: -.05rem .5rem 0 0;
  	width: 32px;

  }

  .logo {
  	margin-right: 0.25rem;
  	width: 3rem;
  }

  .logo-words {
  	font-size: 1.75rem;
  	font-weight: 300;
		line-height: 1.15;
		margin: 2.25rem 0 1rem;
	}

	.logo-words a:link { text-decoration: none; }
	
  /* Global Navigation */
	nav ul {
	  list-style: none;
	  padding-left: 0;
	  text-align: center;
	}

	nav a {
    display: block;
    padding: .5rem 0;
		text-decoration: none;
	}

	nav a:link,
	nav a:visited {
    background-color: #1c7ab5; /* 4.66:1 ratio */
		color: #ffffff; }

	nav a:hover {
		background-color: #0166a3;
		color: #ffffff;
		text-decoration: none;
	}

  .project-background-headers {
  	background-color: #fff;
  	display: inline-block;
  	padding: .25rem .5rem;
  }

  .project-background-content {
  	background-color: #fff;
  	padding: 1rem;
  }

  .image-frame {
  	background-color: #eee;
  	padding: 2rem;
  }

	.image {
		display: block;
		height: auto;
		max-width: 100%;
	}

	p { margin-bottom: 1.25rem; }

	.unordered-content-list {
		list-style-type: none;
	}

	.unordered-content-list li { padding-bottom: .5rem; }

	/* cream 250 245 235 */
	/* red 255 47 26 */
	/* blue 0 175 239 */
}

@media screen and (min-width: 43.75rem) {
	small,
  .text-small { font-size: 0.8rem; }

  .logo { width: 3.75rem; }

  .logo-words {
  	font-size: 2rem;
  	margin: 0;
  }
  
  /* Global Navigation */
	nav li {
		display: inline-block;
		padding-right: 1.5rem;
		text-align: left;
	}
	
	nav a:link,
	nav a:visited {
		background-color: #fff;
		border-bottom: 2px solid #1c7ab5;
		color: #000000;
	}

	nav a:hover {
		border-bottom: 5px solid #0166a3;
		padding-bottom: .25rem;
	}

	h1 {
		font-size: 3.052rem;
		margin-top: 0;
	}

	.title-background {
		height: 25rem;
		margin-left: -1rem;
		margin-right: -1rem;
	}

	.centered-title {
		align-items: center;
		background-color: rgba(0,0,0,0.35);
		display: flex;
		height: 100%;
		justify-content: center;
		width: 100%;
	}

	.centered-title-h1 {
		color: #fff;
		text-shadow: 2px 2px 2px black;
	}

	.ss {
		background-image: url(../images/scholarsphere_dashboard_large.png);
		background-position: center 25%;
		background-repeat: no-repeat;
		background-size: cover; 
	}

  .project-bg-color {
  	background-color: #d7ebf9;
  	margin-left: -1rem;
		margin-right: -1rem;
		padding: 2rem 3rem 3rem	3rem;
  }

	.ss-words { margin-top: 4rem; }

	.case-study-my-role {

	}
}

@media screen and (min-width: 56.25rem) {

}

@media screen and (min-width: 75rem) {
	
}