@media screen and (min-width: 18.75rem) {
	body {
	  background-color: #fff;
	  color: #333;
	  font-family: fira-sans-1, fira-sans-2, sans-serif;
	  font-style: normal;
	  line-height: 1.45;
  }

  .skip a {
  	background-color: #fff;
  	height: 1px;
  	left: -10000px;
  	overflow: hidden;
		position: absolute;
		top: auto;
		width: 1px;
  }
 
	.skip a:focus {
		height: auto;
		position: static;
		width: auto;
	}

  a { color: #1c7ab5; }

  main { padding: 1rem; }

	h1 {
		color: #1c7ab5;
		font-size: 2.441rem;
		font-weight: 300;
		line-height: 1.15;
		margin: 1.75rem 0 0;
	}

  h2 {
  	color: #1c7ab5;
  	font-size: 1.953rem;
  	font-weight: 300;
		line-height: 1.15;
		margin: 1.75rem 0 0;
  }

  h3 {
  	color: #1c7ab5;
  	font-size: 1.563rem;
  	font-weight: 300;
		line-height: 1.15;
		margin: 1.75rem 0 0;
  }

	h4 {
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.15;
		margin: 2.75rem 0 1rem;
	}

	h5 {
		font-weight: 400;
		line-height: 1.15;
		margin: 2.75rem 0 1rem;
	}

  .home-headers {
  	font-size: 1.25rem;
  	margin-top: 1.5rem;
  }

  .banner { padding: 1rem; }

  .logo {
  	margin-right: 0.25rem;
  	width: 3rem;
  }

  .logo-words {
  	font-size: 1.75rem;
  	font-weight: 300;
		line-height: 1.15;
		margin: 2.25rem 0 1rem;
	}

	.logo-words a:link { text-decoration: none; }
	
  /* Global Navigation */
	nav ul {
	  list-style: none;
	  padding-left: 0;
	  text-align: center;
	}

	nav a {
    display: block;
    padding: .5rem 0;
		text-decoration: none;
	}

	nav a:link,
	nav a:visited {
    background-color: #1c7ab5; /* 4.66:1 ratio */
		color: #ffffff; }

	nav a:hover {
		background-color: #0166a3;
		color: #ffffff;
		text-decoration: none;
	}

	.border-top { border-top: 2px solid #333; }
	.border-bottom { border-bottom: 2px solid #333; }

  .margin-1 { margin: 1rem; }

  .margin-bottom-3 { margin-bottom: 3rem; }

  .margin-bottom-5 { margin-bottom: 5rem; }

  .padding-top-bottom {
  	padding: .5rem 0;
  }

  .project-background-content {
  	padding: 1rem;
  }

	.image {
		display: block;
		height: auto;
		max-width: 100%;
	}

	p { margin-bottom: 1.25rem; }

	.unordered-content-list {
		list-style-type: circle;
		padding-left: 1.25rem;
	}

	.unordered-content-list li { padding-bottom: .5rem; }

	.big-bold-italic {
		font-style: italic;
		font-weight: bold;
	}

	.bg-white { background-color: #fff; }

	.inline-block { display: inline-block; }

	.plays-well {
		font-size: 1.5rem;
		font-style: italic;
	}

	.color-scheme {
		list-style-type: none;
	}

	.color-scheme li {
		padding: .5rem;
		margin-bottom: .5rem;
	}

	.border-left-4 {
		border-left: 4rem solid;
	}

	.purple {
		color: #7f47dd;
	}

	.yellow {
		color: #f0be00;
	}

	.blue-middle {
		color: #0071bc;
	}

	.blue-sky {
		color: #29abe2
	}

	.black {
		color: #000
	}

	.gray-middle {
		color: #666;
	}

	.gray-light {
		color: #999;
	}

  footer {
  	background-color: #333;
  	color: #fff;
  	margin-top: 5rem;
  	padding: 1.5rem;
  }
	/* cream 250 245 235 #faf5eb */
	/* red 255 45 25 #ff2d19 */
	/* blue 0 175 240 #00aff0 */
}

@media screen and (min-width: 32rem) {
	.plays-well { font-size: 2.5rem; }

	.image-frame {
  	background-color: #eee;
  	padding: 2rem;
  }
}

@media screen and (min-width: 36.25rem) {
	.centered-title {
		align-items: center;
		background: linear-gradient(33deg, rgba(0,0,0,0.05), rgba(0,0,0,0.55));
		display: flex;
		justify-content: center;
		padding-bottom: 22vh;
		padding-top: 22vh;
	}

	.centered-title-h1 {
		background-color: #fff;
		color: #333;
		font-style: italic;
		padding: .5rem 1rem;
	}

	.ss {
		background-image: url(../images/scholarsphere_dashboard_large.png);
		background-position: center 25%;
		background-repeat: no-repeat;
		background-size: cover;
		margin-left: -1rem;
		margin-right: -1rem;
	}

	.ollies {
		background-image: url(../images/ollies-hero.png);
		background-position: center 25%;
		background-repeat: no-repeat;
		background-size: cover;
		margin-left: -1rem;
		margin-right: -1rem;
	}

  .project-background {
		padding: 2rem 3rem 3rem	3rem;
  }

	.case-study-my-role {

	}

	.case-study-challenge,
	.home-graphic {
		background-image: url(../images/home-background.svg);
		background-position: bottom right;
		background-repeat: no-repeat;
	}
}

@media screen and (min-width: 43.75rem) { /* 700px */

	.logo-words { margin: 0; }

	small,
  .text-small { font-size: 0.8rem; }

  .banner-wrapper { background-color: #fafafa; }

  .border-right { border-right: 1px solid #ddd; }
  
  /* Global Navigation */
	nav li {
		display: inline-block;
		padding-right: 1.5rem;
		text-align: left;
	}
	
	nav a:link,
	nav a:visited {
		background-color: #fafafa;
		border-bottom: 2px solid #1c7ab5;
		color: #000000;
	}

	nav a:hover {
		border-bottom: 5px solid #0166a3;
		padding-bottom: .25rem;
	}

	main { padding-top: 5rem; }

	.hero-image { padding-top: 0; }

	h1 {
		font-size: 3.052rem;
		margin-top: 0;
	}

	.big-bold-italic {
		font-size: 1.5rem;
	}

	.plays-well {
		display: inline;
		font-size: 4rem;
		font-style: italic;
	}

	.services-text1,
	.services-text2,
	.services-text3 {
		padding-bottom: 3rem;
	}
}

@media screen and (min-width: 800px) {
  .logo-words { font-size: 2rem; }
}

@media screen and (min-width: 56.25rem) { /* 900px */
	.logo { width: 3.75rem; }
}

@media screen and (min-width: 75rem) {
	
}